@model ShoeShop.Models.HomePageViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Giày dép</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Assets/Content/style.css")

    <link href="~/Assets/Content/Css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/cart.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/lightslider.css" rel="stylesheet" />
    <link href="~/Assets/Content/Css/Style.css" rel="stylesheet" />
    <script src="~/Assets/Content/Js/bootstrap.min.js"></script>
    <script src="~/Assets/Content/Js/jquery.ellipsis.js"></script>
    <script src="~/Assets/Content/Js/jquery.jcarousel.min.js"></script>
    <script src="~/Assets/Content/Js/jquery.lazyload.js"></script>
    <script src="~/Assets/Content/Js/jquery.min.js"></script>
    <script src="~/Assets/Content/Js/jquery.validate.min.js"></script>
    <script src="~/Assets/Content/Js/jquery.vticker.min.js"></script>
    <script src="~/Assets/Content/Js/myJs.js"></script>
    <link href="~/Assets/LT/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/AdminLTE.css" rel="stylesheet" />
    <script src="~/Assets/LT/js/app.js"></script>
    <script src="~/Assets/LT/js/app.min.js"></script>
    <script src="~/Assets/LT/js/demo.js"></script>
    <link href="~/Assets/LT/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-black-light.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-black-light.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-black.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-black.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-blue-light.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-blue-light.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-green-light.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-green-light.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-green.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-green.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-purple-light.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-purple-light.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-purple.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-purple.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-red-light.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-red-light.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-red.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-red.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-yellow-light.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-yellow-light.min.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-yellow.css" rel="stylesheet" />
    <link href="~/Assets/LT/css/skins/skin-yellow.min.css" rel="stylesheet" />
</head>
<body>   
    <div class="row" id="sns_header">
        <div class="col-sm-3">
            <div class="boxLogo">
                <a title="logo" href="#">
                    <img alt="FashionShop" src="~/Assets/Content/Images/biluxury.JPG">
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-md-7" id="search-b">
                    <div class="search-form">
                        <form method="get" action="">
                            <div class="col-sm-10" id="search-box">
                                <input type="text" class="input-search" placeholder="&nbsp; &nbsp; Tìm sản phẩm bạn mong muốn...">
                            </div>
                            <div class="col-sm-2" id="btn-s">
                                <input type="hidden" name="post_type" value="product">
                                <button class="btn-s" type="submit"><i class="glyphicon glyphicon-search"></i>&nbsp; Tìm kiếm</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-md-8" id="contact" style="margin-left:20px;">
                        <div class="col-sm-3 img-circle" style="background: #f86f00; color: white">
                            <div class="text-center" id="phone-ic"><i class="glyphicon glyphicon-phone-alt"></i></div>
                        </div>
                        <div class="col-sm-9" id="phone-num"><span class="">0988945306</span></div>
                    </div>
                    <div class="col-sm-3" id="shop-cart">
                        <a href="#">
                            <div class="sns-shopping-cart-icon icon_cart">
                                <span name="qtyTotalBuy" class="counter">
                                    <b>3</b>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="row">
        <div class="col-sm-2" id="cate">
            <div class="header_cate"><span class="btn_cat"><i class="glyphicon glyphicon-align-justify"></i></span>Danh mục sản phẩm</div>
        </div>
        <div>

        </div>
    </nav>
    <div class="row">
        <div class="col-sm-2" id="cate">
            <div class="main_pro_cate">
                <div class="product_cate">
                    <ul style="padding-left: 0px;">
                    @foreach (var cate in Model.Danhmucsanphams)
                    {
                        <li>
                            <a title="@cate.MetaTitle" href="">
                                <span>@cate.Name</span>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                    }
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>
        <div class="thumbnail body-slider">
            @RenderSection("slider", required: false)
        </div>
    </div>
    <div class="wrap">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="container">
                    <!--Box-->
                    <div class="boxItem">
                        <p>
                            © <strong>FASHION SHOP <span style="color:#696969">QHG</span> <span style="color:#FF8C00"> Thời trang Nam</span>&nbsp;thương hiệu tại&nbsp;Việt Nam</strong><br>
                            <strong>Địa chỉ:&nbsp;</strong>55 Giải Phóng, Hai Bà Trưng, Hà Nội<br>
                            <strong>Chi nhánh</strong>Phủ lý, Hà Nam
                        </p>
                    </div><!--End Box-->
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
